body {
    margin: 0;
}

.my-profile {
    display: flex;
    justify-content: center;

}

.my-profile__left {
    width: 38%;
    max-width: 466px;
    background-color: #c2c1c1;
}

.my-profile__right {
    width: 62%;
    max-width: 734px;
    background-color: rgba(255, 255, 255, 0.66);
}

.my-profile__item {
    display: block;
    margin: 16px 16px 8px 16px;
    min-height: 40px;

}

.my-profile__photo {
    width: 190px;
    height: 200px;
}

.my-profile__main-tittle {
    text-align: center;
    font-family: 'Oswald', serif;
    font-size: 36px;
    margin: 0;
}

.my-profile__main-desc {
    text-align: center;
    font-family: Roboto, serif;
    font-size: 15px;
    margin: 0;
}

.my-profile__desclong {
    text-align: justify;
    font-family: Roboto, serif;
    font-size: 18px;
    margin: 20px 16px 20px 16px;
}

.my-profile__comlab {
    text-align: justify;
    font-family: 'Oswald', serif;
    font-size: 22px;
    margin: 36px 16px 4px 16px;
}

.my-profile__comlab-inf {
    text-align: justify;
    font-family: Roboto, serif;
    font-size: 18px;
    margin: 12px 16px 16px 16px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .my-profile {
        display: flex;
        flex-direction: column;
    }

    .my-profile__right {
        width: 100%;
    }

    .my-profile__left {
        width: 100%;
    }
}

.my-profile__publication {
    text-align: justify;
    font-family: Roboto, serif;
    font-size: 18px;
    margin: 12px 16px 0px 16px;
}

.my-profile__publication-inf {
    font-family: Roboto, serif;
    font-size: 15px;
    margin: 0px 16px 16px 16px;
}

.my-profile__explab {
    text-align: left;
    font-family: 'Oswald', serif;
    font-size: 18px;
    margin: 8px 16px 0px 16px;
}

.my-profile__subexplab {
    text-align: left;
    font-family: Roboto, serif;
    font-size: 16px;
    margin: 0px 16px 8px 16px;
}

.my-profile__rightexplab {
    text-align: right;
    font-family: Roboto, serif;
    font-size: 16px;
    margin: 0px 16px 8px 16px;
}

.my-profile-footer {
    display: flex;
    justify-content: center;
    font-family: Roboto, serif;
}

.my-profile-footer__links {
    display: flex;
    justify-content: right;
    color: #ffffff;
}

.my-profile-icon {
    fill: currentColor;
    top: 6px;
    position: relative;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
